h1{
  text-align:center;
  color:blueviolet
}
body{
 background-image: linear-gradient(darkgreen,#143e05)
}
h2{
  text-align:center;
  color:white
}
body{
  font-size:30px;
    color:white;
  text-align:center
}
a{
  text-decoration:none;
  border:2px solid lightgreen;
  height:23px;
  padding:6px;
  border-radius:30px;
  background-color:lightgreen;
  color:grey;
  text-align:center;
}
a:hover{
    box-shadow:0 0 5px 0 lightpink;
  background-color:lightpink;
    color:white;
  border:3px solid pink
}
