body{
 background-image: linear-gradient(#06cbf9,#03667d)
}
.start{
  text-align:center;
  color:#eece6a
}
.gameover{
 text-align:center;
  color:red;
    background-color:darkred;
      width:550px;
        margin-left:270px;
  border:2px solid red;
  border-radius:20px
}
.gameover:hover{
    box-shadow:1px 1px 5px 0 #df0900;
  background-color:#970600;
    color:#ff4d46;
  border:3px solid #df0900;
}
main{
  color:white;
  text-align:center
}
